// default theme
$default-text-color: #000;
$default-bg-site: #fff;

$light-text: #fff;

$blue: #0075ff;
$blue-hover: #0075df;
$grey: #dcdcdc;
$grey-2: rgba(0, 0, 0, 0.46);
$grey-3: #8a8a8a;
$grey-4: #a6a6a6;
$grey-5: #f7f7f7;
$grey-6: #ececec;
$grey-7: #d9d9d9;
$grey-8: #efefef;
$grey-9: #dedede;
$grey-10: #dfdfdf;
$grey-opacity: rgba(0, 0, 0, 0.03);
$grey-opacity-2: rgba(0, 0, 0, 0.42);
$black: #000;
$green: #43c59e;
$green-opacity: rgba(67, 197, 158, 0.19);
$green-opacity-2: rgba(67, 197, 158, 0.11);
$pink: #eb236b;
$red: #ef476f;
$red-2: #f40000;
$red-opacity: rgba(239, 71, 111, 0.19);
$red-opacity-2: rgba(239, 71, 111, 0.11);
$violet: #3d3bff;
$gold: #ffe381;
$yellow: #ffaa05;
$white-opacity: rgba(255, 255, 255, 0.5);
