$default-font-family: "Montserrat", sans-serif;
$default-weight-text: 500;
$default-size-text: 16px;
$default-line-text: 1.425;

$content-width: 1170px;
$padding-container-desktop: 50px;
$padding-container-tab: 40px;
$padding-container-mobile: 20px;

$media-laptop: 1280px;
$media-tab: 1100px;
$media-min-tab: 900px;
$media-middle: 700px;
$media-mobile: 500px;
$media-little: 360px;
